////////////////////////////////////////////////////////////////////////////////
#if 1

&mram_storage {
	erase-block-size = <4096>;
	partitions {
		/delete-node/ partition@D0000;
	};
};

&ospi1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_flash>;
};

&flash_storage {
	// write-block-size = <1>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x00000000 DT_SIZE_K(768)>;
		};
	};
};

&pinctrl {
	pinctrl_flash:pinctrl_flash {
		group0 {
			pinmux = <PIN_P5_5__OSPI1_SCLK_C>,
				 <PIN_P5_7__OSPI1_SS0_C>;
			read-enable = <0x0>;
			drive-strength = <12>;
			slew-rate = <0x1>;
		};
		group1 {
			pinmux = <PIN_P9_5__OSPI1_D0_C>,
				 <PIN_P9_6__OSPI1_D1_C>,
				 <PIN_P9_7__OSPI1_D2_C>,
				 <PIN_P10_0__OSPI1_D3_C>,
				 <PIN_P10_1__OSPI1_D4_C>,
				 <PIN_P10_2__OSPI1_D5_C>,
				 <PIN_P10_3__OSPI1_D6_C>,
				 <PIN_P10_4__OSPI1_D7_C>,
				 <PIN_P5_6__OSPI1_RXDS_C>,    /* RxDS : Func */
				 <PIN_P10_7__GPIO>;           /* RxDS : Pin */
			read-enable = <0x1>;
			drive-strength = <12>;
			slew-rate = <0x1>;
		};
	};
};


&ospi_flash {
	// write-block-size = <1>;
	status = "okay";
};
#endif