/* Copyright (c) 2025 Alif Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <alif/ensemble/e8/ae822fa0e5597xx0.dtsi>
#include <alif/ensemble/common/ensemble_rtss_hp.dtsi>
#include "../common/ensemble-e4-e6-e8-pinctrl.dtsi"

/ {
	compatible = "arm,alif-e8-dk-ae822fa0e5597xx0-rtss-hp";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		zephyr,flash = &mram_storage;
		zephyr,code-partition = &slot0_partition;
		zephyr,sram = &dtcm;
		zephyr,console = &uart4;
		zephyr,shell-uart = &uart4;
		zephyr,uart-mcumgr = &uart4;
	};

	aliases {
		led0 = &aled0;
		sw0 = &button0;
		watchdog0 = &wdog0;
		rtsshemhu0r = &rtsshp_rtsshe_mhu0_r;
		rtsshemhu0s = &rtsshe_rtsshp_mhu0_s;
		rtsshemhu1r = &rtsshp_rtsshe_mhu1_r;
		rtsshemhu1s = &rtsshe_rtsshp_mhu1_s;
	};

	leds {
		compatible = "gpio-leds";

		aled0: led_0 {
			gpios = <&gpio6 2 0>;
			label = "LED1_R";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = < &lpgpio 4 0 >;
			label = "SW0";
		};
	};

	mipi_switch {
		compatible = "mipi-lvds-mux";
		camera_select: sensor_select {
			select-gpios = <&gpio14 2 GPIO_ACTIVE_LOW>;
		};
		display_select: display_panel_select {
			select-gpios = <&gpio14 2 GPIO_ACTIVE_HIGH>;
		};
	};
};

&lpgpio {
	status = "okay";
};

&ospi1 {
	/* External Flash on OSPI */
	ospi_flash: ospi_flash@0 {

		compatible = "issi,xspi-flash-controller";
		reg = <0x0>;
		erase-value = <0xff>;
		num-of-sector = <32768>;
		page-size = <4096>;
		sector-size = <4096>;
		write-block-size = <2>;

		/* Flash Size 128MB */
		#address-cells = <1>;
		#size-cells = <1>;

		flash_storage: flash_storage@0 {
			compatible = "soc-nv-flash";
			reg = <0x0 DT_SIZE_M(128)>;
			erase-block-size = <DT_SIZE_K(4)>;
			write-block-size = <2>;
		};
		status = "disabled";
	};
};

&gpio6 {
	status = "okay";
};

&uart4 {
	status = "okay";
};
